.loading-spinner {
  text-align: center;

  & .load {
    // display: flex;
    width: 7em;
    height: 7em;
    // position: absolute;
    // top: 40%;
    // justify-content: center;
    // flex-direction: column;
    // left: 45%;
  }
}
