<!-- <div class="content " [ngClass]="on ? 'list-song': ''"
(scroll)="onScrollDown2($event)" #container> -->
<div class="content" [ngClass]="on ? 'list-song': ''" infiniteScroll infiniteScrollDistance=0.5 [scrollWindow]="false" (scrolled)="onScroll()"
  #container>
  <div *ngFor="let item of data" class="slide-top">
    <app-card-song [data]="item" (onPlay)="loadTrack($event)" *ngIf="true"></app-card-song>
  </div>
  <div class="spinner-container" [ngClass]="{ 'spinner-center' : !data.length }">
    <app-spinner *ngIf="loading" class="spinner"></app-spinner>
  </div>
</div>